<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    Вы купили эти товары. Оставьте отзывы.
    <br/>
    <%@order.line_items.each do |item|%>
      <%=link_to item.variant.product.name, new_product_review_url(item.variant.product,:host => "localhost:3000")%>
      <br/>
    <%end %>
  </body>
</html>