<div data-hook="admin_inside_taxon_form" class="row">
  <div class="alpha five columns">
    <%= f.field_container :name do %>
      <%= f.label :name, t(:name) %> <span class="required">*</span><br />
      <%= error_message_on :taxon, :name, :class => 'fullwidth title' %>
      <%= text_field :taxon, :name, :class => 'fullwidth' %>
    <% end %>

    <%= f.field_container :permalink_part do %>
      <%= f.label :permalink_part, t(:permalink) %><span class="required">*</span><br />
      <%= @taxon.permalink.split("/")[0...-1].join("/") + "/" %>
      <%= text_field_tag :permalink_part, @permalink_part %>
    <% end %>

    <%= f.field_container :icon do %>
      <%= f.label :icon, t(:icon) %><br />
      <%= f.file_field :icon %>
    <% end %>
  </div>
  <div class="omega seven columns">
    <%= f.field_container :description do %>
      <%= f.label :description, t(:description) %><br />
      <%= f.text_area :description, :class => 'fullwidth', :rows => 6 %>
    <% end %>
  </div>
  <div class="omega seven columns">
    <%= f.field_container :description2 do %>
      <%= f.label :description2, t(:description2) %><br />
      <%= f.text_area :description2, :class => 'fullwidth', :rows => 6 %>
    <% end %>
  </div>
</div>